:root {
    --main-width: 1200px;
    --content-margin-top: 24px;
    --content-aside-wrapper-width: 240px;
    --content-center-gap-width: 24px;
    --title-frame-height: 40px;
    --normal-color-text: #0b2447;
    --dark-color-text: #c3c3c3;

    /* -------- */
    --content-container-left-width: 18rem;
    --content-container-left-padding: 12px;
    --scrollbar-width: 4px;
    --content-container-article-list-width: 22rem;
    --content-container-article-list-sticky-panel-height: 4rem;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    color-scheme: light;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    overflow: hidden;
    scroll-behavior: smooth;
    text-size-adjust: 100%;
}
html.dark {
    color-scheme: dark;
}
@font-face {
    font-family: "JetBrains Mono";
    src: url("/font/JetBrains-Mono.woff2") format("woff2");
}
@font-face {
    font-family: "Geist";
    src: url("/font/Geist.woff2") format("woff2");
}

body {
    display: flex;
    background-color: #fff;
    transition: background-color 0.2s linear;
    font-family: Geist, "JetBrains Mono", ui-sans-serif, system-ui,
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
        Helvetica, Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.dark body {
    background-color: #1d2530;
    transition: background-color 0.2s linear;
}

/* ------------------------------------------------------------------------------------------ */
/* 通用 */
.background-light-gray {
    background-color: #f9f9f9;
}
.unselectable {
    user-select: none;
}
::selection {
    background-color: black;
    color: white;
}
::-webkit-scrollbar {
    width: var(--scrollbar-width);
    height: 8px;
    background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: rgba(200, 200, 200, 0.5);
}
::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); */
    border-radius: 3px;
    background: rgba(0, 0, 0, 0);
}
/* 左侧 */
#content-container-left {
    flex-direction: column;
    padding-left: var(--content-container-left-padding);
    padding-right: calc(
        var(--content-container-left-padding) - var(--scrollbar-width)
    );
    padding-top: var(--content-container-left-padding);
    padding-bottom: var(--content-container-left-padding);
    max-width: var(--content-container-left-width);
    min-width: 80px;
    height: 100vh;
    word-wrap: break-word;
    word-break: normal;
    overflow-y: scroll;
    overflow-x: auto;
    display: flex;
    align-items: center;
}

/* 右侧 */
#content-container-right {
    display: flex;
    flex: 1;
    height: 100vh;
    word-wrap: break-word;
    word-break: normal;
    overflow-y: scroll;
}
.bg-dots {
    background-repeat: repeat;
    background-image: radial-gradient(#e5e7eb 1px, transparent 0);
    background-size: 16px 16px;
}
/* 分割线 */
.vertical-separator-line-100vh {
    width: 1px;
    height: 100vh;
}
.horizontal-separator-line-100vh {
    height: 1px;
    width: 100vh;
}
.separator-line {
    background-color: #e1e3e8;
}

/* 个人信息、头像 */
#person-info-card {
    display: flex;
    width: 100%;
    height: 4rem;
    border-radius: 4px;
    margin-bottom: 12px;
}
#my-avatar-image-container {
    margin-left: 0.4rem;
    margin-top: calc((4rem - 2.6rem - 4px) / 2);
    background-color: #fafafa;
    border-radius: calc(1.3rem + 2px);
    width: calc(2.6rem + 4px);
    height: calc(2.6rem + 4px);
}
.avatar-image-theme {
    margin: 2px;
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 1.2rem;
}

.avatar-image-theme:hover {
    animation: avatar-rotate-animation 20s ease-in-out infinite;
}

#person-info-card-right-content-container {
    padding-top: 0.3rem;
    flex: 1;
    height: 100%;
    display: block;
}

#author-name {
    margin-top: 8px;
    margin-left: 8px;
}
.text-highlight {
    color: #444;
    font-weight: bold;
}
.text-highlight-reverse-bg {
    color: #eee;
    font-weight: bold;
}

#author-job {
    margin-top: 2px;
    margin-left: 8px;
}

.text-normal {
    color: #aaa;
}

@keyframes avatar-rotate-animation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(36000deg);
    }
}
/* 左侧不同种类的菜单 */

.menu-item-theme-light {
    background-color: transparent;
    transition: background-color 0.2s linear;
    color: black;
}

.menu-item-theme-light.menu-item-selection {
    background-color: black;
    color: white;
}

.menu-item-theme-light:hover {
    cursor: pointer;
    background-color: #e1e3e8;
    transition: background-color 0.2s linear;
}
.menu-item-theme-light.menu-item-selection:hover {
    cursor: pointer;
    background-color: #000;
    transition: background-color 0.2s linear;
}

.menu-item-card {
    display: flex;
    padding-left: 0.4rem;
    align-items: center;
    width: 100%;
    margin-bottom: 8px;
    height: 2.4rem;
    border-radius: 4px;
}
.menu-item-card-title {
    flex: 1;
    margin-left: 0.4rem;
    color: #000;
}
.menu-item-selection .menu-item-card-title {
    color: #f3f3f3;
}

.menu-item-card-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: #e3e5e9;
    background-color: #f1f2f4;
    margin-right: 0.4rem;
    width: 1.6rem;
    height: 1.6rem;
    color: #000;
    font-size: 0.8rem;
}
.menu-item-selection .menu-item-card-tag {
    color: #f3f3f3;
    background-color: #303947;
    border-color: #666;
}

::selection {
    background-color: #000;
}

/* 右侧home元素 */
#content-container-home {
    flex-grow: 1;
}

#content-container-home-article {
    margin-top: 128px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.75;
    font-size: 1.5rem;
    letter-spacing: 2px;
    max-width: 1080px;
    color: #333333;
    padding-left: 32px;
    padding-right: 32px;
}

/* 文章 */
#content-container-article {
    display: none;
    flex: 1;
}

#content-container-article-container {
    display: flex;
    flex: 1;
    flex-direction: row;
}
/* 文章列表 */
#content-container-article-list-container {
    width: calc(
        var(--content-container-article-list-width) + var(--scrollbar-width)
    );
    height: 100vh;
    overflow-y: scroll;
}

#content-container-article-list-sticky-panel {
    position: fixed;
    display: flex;
    align-items: center;
    width: var(--content-container-article-list-width);
    height: var(--content-container-article-list-sticky-panel-height);
    border-bottom: 1px solid #e1e3e8;
}
#content-container-article-list-sticky-panel-title {
    font-weight: bold;
    margin-left: 1.2rem;
    cursor: pointer;
}

#content-container-article-list {
    /* width: var(--content-container-article-list-width); */
    width: 100%;
    margin-top: calc(
        var(--content-container-article-list-sticky-panel-height) + 8px
    );
}

.article-brief-info-container {
    flex-direction: column;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    margin-top: 0.2rem;
    padding-top: 0.6rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-bottom: 0.6rem;
    flex: 1;
    border-radius: 4px;
}

.article-brief-info-hint {
    margin-top: 4px;
}

/* 文章内容 */
#content-container-article-content {
    flex: 1;
    height: 100vh;
}
/* 文章为空时显示 */
#content-container-article-content-empty {
    display: none;
    margin-top: 12rem;
}

#content-container-article-content-empty-title {
    font-size: 3rem;
    padding-left: 4rem;
    color: #222;
}

#content-container-article-content-empty-hint {
    padding-left: 4rem;
    font-size: 1.2rem;
    padding-top: 0.5rem;
    line-height: 1.3;
    color: #999;
}

/* 文章不为空时显示 */
#content-container-article-content-article-container {
    display: none;
    margin-top: 4rem;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 820px;
}

#content-container-article-content-article-title {
    font-size: 1.6rem;
    font-weight: bold;
}

#content-container-article-content-article-hint {
    margin-top: 16px;
    font-size: 1rem;
    color: #9da3ae;
}

#content-container-article-content-article-content {
    margin-top: 24px;
    padding: 0px;
}

#content-container-column {
    display: none;
}

/* 右侧about元素 */
#content-container-about {
    flex-grow: 1;
    display: none;
}

#content-container-about-article {
    margin-top: 128px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.75;
    font-size: 1.2rem;
    max-width: 1080px;
    color: #333333;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 128px;
}

@media screen and (max-width: 1000px) {
    #person-info-card-right-content-container {
        display: none;
    }
    #person-info-card {
        display: flex;
        width: 100%;
        height: 4rem;
        border-radius: 4px;
        margin-bottom: 12px;
        /* align-items: center; */
        justify-content: center;
    }
    .menu-item-card {
        display: flex;
        padding-left: 0.4rem;
        /* align-items: center; */
        justify-content: center;
        width: 100%;
        margin-bottom: 8px;
        height: 2.4rem;
        border-radius: 4px;
    }
    .menu-item-card-title {
        display: none;
    }
    .menu-item-card-tag {
        display: none;
    }
    :root {
        --content-container-article-list-width: 14rem;
    }
}
